/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color: #D8BCAB;
    color: #6f4030;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    overflow: hidden;
}

/* For WebKit-based browsers (Chrome, Safari) */
#terminal-output::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
#terminal-output {
    scrollbar-width: none;
}

/* General container styling */
#terminal-output {
    overflow-y: scroll;
}

/* Style the sliding panel */
.project-info {
    position: fixed;
    top: 0;
    right: -100%; /* Positioned off-screen initially */
    width: 50%;
    height: 100%;
    background-color: #1e1e1e;
    color: #fff;
    padding: 20px;
    overflow-y: auto;
    transition: right 0.3s ease;
    z-index: 100; /* Ensure it appears above other elements */
}

.project-info.visible {
    right: 0; /* Slide it into view */
}

/* Terminal container */
#terminal {
    width: 50%;
    max-width: 600px;
    max-height: 100vh;
    background: transparent;
    padding: 0em 2em 2em 2em;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-left: 20px;
}

/* Terminal output grows with content */
#terminal-output {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 100%;
}

/* Input container positioned at the bottom */
#input-container {
    display: flex;
    align-items: center;
    flex-shrink: 0;
	margin: 10px 0px 0px 10px;
}

/* Ensure prompt styling matches output */
#prompt {
    color: #6f4030;
    margin-right: 8px;
    line-height: 1.5;
    font-size: 1em;
}

/* Input styling */
#input {
    background: transparent;
    color: #008000;
    border: none;
    outline: none;
    flex-grow: 1;
    font-size: 1em;
    line-height: 1.5;
}

/* Output styling for uniform appearance */
.output {
    color: #6f4030;
    line-height: 1.5;
    font-size: 1em;
	margin: 5px 10px;
}

/* New CSS class for the welcome message */
.welcome-message {
    margin-top: 200px;
    font-weight: bold;
}

/* Add margin to separate commands from outputs */
.command {
    margin-bottom: 5px;
	margin-top: 10px;
	color: #008000;
}

#project_button {
    background-color: #4c2229;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* margin-top: 20px; */
}